.parent{
    height: 100px;
    background-color: blue;
    border: 5px solid black;
    width: 500px;
    padding: 100px;
}
html{
    font-size: 100px;
}
.child{
    height: 2rem;
    background-color:olive;
}